body {
    font-family: var(--font-family-base);
    font-size: 16px;
    color: var(--color-grey);
    background-color: var(--color-light);
}

[class*='__container'] {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 15px;
}

a:hover {
    color: var(--color-yellow);
}

/*+ Button  */
.btn {
    background-color: var(--color-yellow);
    color: var(--color-light-bg);
    font-size: 19px;
    font-weight: var(--font-wight-semibold);
    line-height: 1.26;
    border-radius: 8px;
}
