@import url(fonts.css);
@import url(reset.css);
@import url(variables.css);
@import url(base.css);

/*+ Header */

/* // Header Top */
.header {
    margin-bottom: 70px;
}

.header__top {
    padding-block: 15px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    gap: 15px 30px;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav__item {
    line-height: 1.875;
}

.support {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.support__text {
    font-size: 16px;
    line-height: 1.875;
}
.support__list {
    display: flex;
    gap: 10px;
    align-items: center;
}
.support__item,
.support__svg {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.support__item:hover {
    transform: scale(1.2);
}

/* // Header Main */
.header__main {
    background-color: var(--color-light-bg);
    padding-block: 25px;
}

.header__main::after {
    content: '';
    display: block;
    position: relative;
    top: 25px;
    width: 100%;
    height: 2px;
    background-color: var(--color-light);
}

/* // Header Bottom */
.header__bottom {
    background-color: var(--color-light-bg);
    padding-block: 18px;
}

/* Main header button */
.btn-header__main {
    display: flex;
    align-items: center;
    padding: 11px 20px;
    transition: transform 0.15s ease, box-shadow 0.15s ease-in-out;
}

.btn-header__main:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn-header__main:hover .btn__span {
    background-image: url(../img/header/btn-catalog-active.svg);
}

.btn__span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/header/btn-catalog.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
    margin-right: 10px;
}

/* Search form */
.search-form {
    display: flex;
    justify-content: space-between;
    flex-basis: 421px;
    height: 50px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--color-grey-light);
    background: var(--color-light-bg);
    padding-inline: 15px;
}

.search-form:focus-within {
    border: 1px solid var(--color-yellow);
    box-shadow: 0 0 8px var(--color-yellow);
}

/* ! милиця мабуть  */
.search-form__input {
    min-width: 350px;
    color: var(--color-dark);
    line-height: 1.875;
}

.search-form__input::placeholder {
    color: var(--color-grey-light);
}

.search-form__button {
    display: flex;
}

.button-search__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/header/poisk.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/* Header-Main phone box */
.phone-header {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.box-number {
    display: flex;
    min-width: 136px;
    flex-direction: column;
    align-items: center;
}

.box-number__schedule {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
}

.box-number__telephone {
    color: var(--color-dark);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}

/* // Header Bottom */
.header__bottom {
    padding: 18px 0;
}

.header__list-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px 40px;
}

.header__left-list,
.header__right-list {
    display: flex;
    gap: 40px;
}

.header__left-list li,
.header__right-list li {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

/*+ Main */
/*+ Popular categories */
.categories {
    margin-bottom: 70px;
}

.categories__container .categories__title {
    color: var(--color-dark);
    font-size: 40px;
    font-weight: var(--font-wight-semibold);
    line-height: 1.2;
    margin-bottom: 40px;
}

.categories__name-card {
    color: var(--color-dark);
    font-size: 20px;
    font-weight: var(--font-wight-semibold);
    line-height: 1.4;
}

.categories__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 10px;
    max-width: 1290px;
    margin-inline: auto;
    margin-bottom: 100px;
}

.categories__card {
    width: 250px;
    height: 300px;
    background: url(../img/categories/categories-card__bg.svg) #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    transition: transform 0.5s ease-in-out;
}

.categories__card1 {
    content: '';
    width: 150px;
    height: 140%;
    background-image: linear-gradient(180deg, #ff1b1b, #ff8585);
}

.categories__card:hover {
    box-shadow: -5px 6px 17px 0px rgba(0, 0, 0, 0.15);
    scale: 1.02;
}

.categories__content-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 210px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.categories__count-card {
    color: var(--color-grey-light);
    font-size: 20px;
    font-weight: var(--font-wight-semibold);
    line-height: 1.4;
}
.categories__img-card {
    position: absolute;
}

.categories__img-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.categories__card:hover .categories__img-icon {
    opacity: 1;
}

/* ? */
.categories__card1 {
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background-image: linear-gradient(180deg, #ff1b1b, #ff8585);
}
